<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDF71EE21BE8B5A5006CDD0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDF71EF61BE8B5A6006CDD0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDF71F011BE8B5A6006CDD0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
